@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
header {
  font-family: verdana;
  line-height: 2;
  font-style: italic;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center; }

footer {
  display: grid;
  place-items: center; }

.icons_container {
  display: inline-flex; }

.icons_container .icon {
  margin: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icons_container .icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icons_container .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icons_container .icon:hover .tooltip {
  top: -60px;
  opacity: 1;
  pointer-events: auto; }

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.icons_container .icon:hover span {
  color: #fff; }

.icons_container .icon:hover span,
.icons_container .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); }

.icons_container .facebook:hover span,
.icons_container .facebook:hover .tooltip,
.icons_container .facebook:hover .tooltip:before {
  background: #3B5999; }

.icons_container .linkedin:hover span,
.icons_container .linkedin:hover .tooltip,
.icons_container .linkedin:hover .tooltip:before {
  background: #0a66c2; }

.icons_container .instagram:hover span,
.icons_container .instagram:hover .tooltip,
.icons_container .instagram:hover .tooltip:before {
  background: #e1306c; }

.icons_container .github:hover span,
.icons_container .github:hover .tooltip,
.icons_container .github:hover .tooltip:before {
  background: #333; }

body {
  font-family: Poppins;
  line-height: 3;
  font-style: none;
  color: #080808;
  background-color: #fff;
  width: 100%;
  height: 100%; }

/* elegi los colores basandome en esa imagen que consegui de inet */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  line-height: 3;
  font-style: none;
  color: #080808;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box; }

.Nav-main {
  background-image: linear-gradient(black, purple);
  display: flex;
  justify-content: space-around; }

nav a {
  color: violet; }

.photo {
  padding-top: 10px;
  padding-bottom: 10px; }

p {
  margin: 10px; }

.email {
  text-align: center; }

.links {
  text-align: center; }

.copy {
  font-size: small;
  text-align: right; }

li {
  list-style: none; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas: "grid-cont-l1 grid-cont-l2 grid-cont-l3 grid-cont-l4"; }

.grid-cont-l1 {
  grid-area: grid-cont-l1;
  background-color: #21f3ad;
  border: 1px solid black; }

.grid-cont-l2 {
  grid-area: grid-cont-l2;
  background-color: #d32727;
  border: 1px solid black; }

.grid-cont-l3 {
  grid-area: grid-cont-l3;
  background-color: #2095e4;
  border: 1px solid black; }

.grid-cont-l4 {
  grid-area: grid-cont-l4;
  background-color: #7e609b;
  border: 1px solid black; }

.photo {
  transform: scale(1, 1);
  transform: rotate(0deg);
  animation-name: photo-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0s; }

@keyframes photo-animation {
  0% {
    transform: scale(0.1, 0.1); }
  25% {
    transform: scale(1, 1); }
  51% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0.1, 0.1); } }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: transparent;
  text-decoration: none; }

@media only screen and (max-width: 320px) {
  .container {
    display: grid;
    /*Establecemos cuantas columnas filas y que anchos tendran respecto al padre*/
    grid-template-columns: repeat(2, 50%);
    /* Establecemos cantidad de filas y que alto tendran respecto al padre */
    grid-template-rows: repeat(4, 200px);
    /* Establecemos el espacio entre cajas */
    /* gap: 1px; */
    grid-template-areas: "grid-cont-l1 grid-cont-l1" "grid-cont-l2 grid-cont-l2" "grid-cont-l3 grid-cont-l3" "grid-cont-l4 grid-cont-l4"; }
  .grid-cont-l1 {
    grid-area: grid-cont-l1;
    background-color: #21f3ad; }
  .grid-cont-l2 {
    grid-area: grid-cont-l2;
    background-color: #d32727; }
  .grid-cont-l3 {
    grid-area: grid-cont-l3;
    background-color: #2095e4; }
  .grid-cont-l4 {
    grid-area: grid-cont-l4;
    background-color: #7e609b; } }
