@import "partials/header";
@import "partials/footer";
@import "partials/body";
@import "sass2/condicionales";
@import "sass2/maps";
@import "sass2/mixins";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import "variables/variables";

/* elegi los colores basandome en esa imagen que consegui de inet */

*{
    margin: 0;
    padding: 0;
    @include fuentes;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}
.Nav-main{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: violet;
}

.photo{
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    margin: 10px;
}
.email{
    text-align: center;
}
.links{
    text-align: center;
}
.copy{
    font-size: small;
    text-align: right;
}
li{
    list-style: none;
}


.photo{
    transform: scale(1,1);
    transform: rotate(0deg);
    animation-name: photo-animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-delay: 0s;
}

@keyframes photo-animation {
    0%{transform: scale(0.1,0.1);}
    25%{transform: scale(1,1);}
    51%{transform: scale(1,1);}
    100%{transform: scale(0.1,0.1);}
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: transparent;
    text-decoration: none;
}
